.status {
    font-size: 130%;
    padding-bottom: 15px;
}

.board {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.board-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}